<div class= "container">
  <div class= "row py-5">
    <div class= "offset-1 col">
      <h4>店舗詳細</h4>
    </div>
  </div>

  <div class= "row">
    <div class= "offset-1 col-md-6">
      <%= image_tag @post.get_shop_image(500,500) %>
    </div>
    <div class= "col-md-5">
      <table class="table">
        <tbody>
          <tr>
            <th width= "170">店舗名</th>
            <td><%= @post.shop_name %></td>
          </tr>
          <tr>
            <th>店舗紹介文</th>
            <td align="justify"><%= @post.introduction %></td>
          </tr>
          <tr>
            <th>店舗住所</th>
            <td align="justify"><%= @post.shop_address %></td>
          </tr>
          <tr>
            <th>店舗ホームページ</th>
            <td>
              <% if @post.shop_url.nil? %>
                <%= @post.shop_url %>
              <% else %>
                <%= Rinku.auto_link(@post.shop_url, :all, 'target="_blank"').html_safe %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>投稿者</th>
            <td>
              <%= link_to user_path(@post.user) do %>
                <%= @post.user.nickname %>
              <% end %>
            </td>
          </tr>
          <% if @post.user == current_user %>
            <tr>
              <td align="right">
                <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
              </td>
              <td align="center">
                <%= link_to "削除する", post_path(@post), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class= "row py-4">
    <div class= "offset-10 col-md-2">
      <%= link_to posts_path do %>
        店舗一覧に戻る
      <% end %>
    </div>
  </div>
</div>