<div class= "container">
  <div class= "row py-5">
    <div class= "offset-1 col">
      <h4>店舗詳細</h4>
    </div>
  </div>

  <div class= "row">
    <div class= "offset-1 col-md-6">
      <%= image_tag @posts.get_shop_image(500,500), class: "pb-3" %><br>
      <div id= "favorite_buttons_<%= @posts.id %>">
        <%= render partial: "public/favorites/favorite", locals: { post: @posts } %>
      </div>
      <div>
        <% if @posts.post_comments.present? %>
          コメント数：
          <%= @posts.post_comments.count %>
        <% else %>
          コメントはまだありません
        <% end %>
      </div>
    </div>
    <div class= "col-md-5">
      <table class="table">
        <tbody>
          <tr>
            <th width= "170">店舗名</th>
            <td><%= @posts.shop_name %></td>
          </tr>
          <tr>
            <th>店舗紹介文</th>
            <td align="justify"><%= @posts.introduction %></td>
          </tr>
          <tr>
            <th>店舗住所</th>
            <td align= "justify"><%= @posts.shop_address %></td>
          </tr>
          <tr>
            <th>店舗ホームページ</th>
            <td>
              <% if @posts.shop_url.nil? %>
                <%= @posts.shop_url %>
              <% else %>
                <%= Rinku.auto_link(@posts.shop_url, :all, 'target="_blank"').html_safe %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>投稿者</th>
            <td>
              <%= link_to user_path(@posts.user) do %>
                <%= @posts.user.nickname %>
              <% end %>
            </td>
          </tr>
          <% if @posts.user == current_user %>
            <tr>
              <td align= "right">
                <%= link_to "編集する", edit_post_path(@posts), class: "btn btn-success" %>
              </td>
              <td align= "center">
                <%= link_to "削除する", post_path(@posts), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
              </td>
            </tr>
          <% end %>
            <tr align= "right">
              <td colspan="2">
                <%= link_to posts_path do %>
                  投稿一覧に戻る
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class= "row">
    <div id= "comments-area" class= "col-md-8">
      <%= render 'public/post_comments/comment', posts: @posts %>
    </div>

    <div id= "new-comments-<%= @posts.id %>" class= "col-md-4">
      <%= render partial: "public/post_comments/form", locals: { posts: @posts, post_comment: @post_comment } %>
    </div>
  </div>
</div>