<!DOCTYPE html>
<html>
  <head>
    <title>Nomitabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
          <%= link_to root_path, class: "navbar-brand text-light" do %>
            <%= image_tag 'nomitabi.jpg', :size => '70x70' %>
          <% end %>
          <ul class= "navbar-nav ml-auto">
            <% if user_signed_in? %>
              <p class= "text-light my-auto">
                ようこそ、
                <%= current_user.nickname %>
                さん！
              </p>
              <li class= "nav-item pl-3">
                <%= link_to new_post_path, class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">新規投稿</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to posts_path, class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">投稿一覧</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to user_path(current_user.id), class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">マイページ</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">ログアウト</button>
                <% end %>
              </li>

            <% else %>
              <li class= "nav-item pl-3">
                <%= link_to about_path, class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">About</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">ゲストログイン(閲覧用)</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">ログイン</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                  <button type= "button" class= "btn btn-light">新規登録</button>
                <% end %>
              </li>

            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
